.DS_Store
build/*
data/*
delta-lake/*
spark-warehouse/*
metastore_db/*
airflow/jars
airflow/logs
airflow/plugins
airflow/dags/__pycache__
airflow/airflow.sh
spark-task/build/*
.idea/
.gradle
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


